body,
html,
#root {
  height: 100%;
  background-color: #212121;
}

.card {
  border: 1px solid black;
  background-color: #424242 !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5%;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

/*Below are styles for progressBar.jsx*/
.line {
  width: 20%;
  height: 10px;
  background-color: #393737;
}

.line-active div {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #646464, #aaa);
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: progressAnimation 200ms linear;
}

.steps img {
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  width: 50px;
}

.steps-active img {
  animation: pulse 500ms linear;
}

@keyframes progressAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
